{% extends "layout.njk" %}

{% block content %}

    <table width="100%" style="background:#fff" bgcolor="#fff">

        <tr><td colspan="3" class="stripes" height="8" style="height:8px;"></td></tr>

        <tr><td colspan="3" height="32" style="height:32pxl;"></td></tr>

        <tr>
            <td width="64" style="width:64px;"></td>
            <td>
                <div class="header">
                    Hello and welcome to postboy :P
                </div>
            </td>
            <td width="64" style="width:64px;"></td>
        </tr>

        <tr><td colspan="3" height="32" style="height:32pxl;"></td></tr>

        <tr>
            <td width="64" style="width:64px;"></td>
            <td>
                <div class="main">
                    This is your e-mail to give you the basic idea what is it all about.
                </div>
            </td>
            <td width="64" style="width:64px;"></td>
        </tr>

        <tr><td colspan="3" height="32" style="height:32pxl;"></td></tr>

        <tr><td colspan="3" class="stripes" height="8" style="height:8px;"></td></tr>

    </table>

{% endblock %}