{% from 'macros.njk' import width %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>{{ title }}</title>
</head>

<body>
 
  <table {{ w100p }} {{ tblt }}>
    <tr>
      <td> {{indent}} </td>
      <td {{ width (600) }}>
        {% block content %}
        {% endblock %}
      </td>
      <td> {{indent}} </td>    
    </tr>
  </table>
  
</body>

</html>