<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>Hello, postboy!</title>
</head>

<body>
 
  <table {{ w100p }} {{ tblt }}>
    <tr>
      <td> {{indent}} </td>
      <td>
        {% block content %}
        {% endblock %}
      </td>
      <td> {{indent}} </td>    
    </tr>
  </table>
  
</body>

</html>