{% macro vindent(size, colspan=3, bgcolor=null) %}
    <!-- Vindent {{ size }}, {{ colspan }}, {{ bgcolor }} -->
  <tr>
    <td height="{{size}}" style="line-height: {{ size }}px;height: {{size}}px; {%if bgcolor%}background-color:{{bgcolor}};{%endif%}" {%if bgcolor%}bgcolor="{{bgcolor}}"{% endif %}colspan="{{colspan}}">
      {{indent}}
    </td>
  </tr>
    <!-- Vindent end -->
{% endmacro %}

{% macro hindent(size) %}
  <td width="{{size}}" style="width: {{size}}px;">
    {{indent}}
  </td>
{% endmacro %}

{% macro width(size=0, measurement="px") %}
  width="{{size}}{{measurement if measurement!="px"}}" style="width: {{size}}{{measurement}}"
{%endmacro%}


