body,
html,
td,
img,
div {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a > span {
  color: #1583d0;
  text-decoration: none;
}
.stripes {
  background: url("../img/stripes.png");
}
.header {
  text-align: center;
  font: normal 24px sans-serif;
}
.main {
  text-align: center;
  font: normal 14px sans-serif;
}
