{% extends "common/layout.html" %}

{% block content %}

  <!-- fuck -->
  <h1>{{title}}</h1>
  <img src="{{img}}/blank.gif"/>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum sapiente natus iste, autem ipsam, et ratione. Amet molestias nam qui reprehenderit doloribus voluptas quam unde fuga tempora quas, asperiores nesciunt.</p>
  <a href="#">ffu</a>
  <p>Natus quam iste accusantium dolor eum repudiandae doloremque deserunt commodi labore asperiores illo dolore repellendus mollitia, expedita minus fuga molestias. Vitae, veniam, enim. Porro alias reiciendis perferendis sint. Eius, laudantium.</p>
  <p>Accusamus nihil provident harum iusto, ut earum similique perspiciatis voluptatibus molestias sunt voluptatum. Esse nisi libero doloribus quod accusantium illo, tenetur eum, laborum vitae vel aliquam odit veritatis! Molestias, eligendi?</p>
  <p>Nobis deserunt labore voluptates error consequatur, placeat perspiciatis, quas dolor soluta eligendi nisi illo fuga porro eveniet eius, qui fugiat expedita reiciendis rem reprehenderit! Facilis harum, rerum possimus accusamus architecto.</p>
  <p>Quia dolores quasi sit, suscipit! Quas voluptatum itaque praesentium pariatur, nihil eos blanditiis quo iusto earum doloribus neque quis sequi incidunt. Harum numquam, amet a dolorem mollitia nam minus doloremque!</p>

{% endblock %}